input {
    border: none;
    color: white;
    outline: none;
  }
  button {
    height: 2.5rem;
    width: 4.5rem;
    border-radius: 51px;
    outline: none;
    background: black;
    color: white;
  }